<div class="container">
    <mat-card class="login-form" [formGroup]="loginForm"> <!-- Está diretiva [formGroup] vincula o formulário HTML com um objeto do FormGroup definido em TypeScript -->
        <mat-card-header>         
            <mat-card-title>Autenticação</mat-card-title>
            <mat-card-subtitle>Entre com seu e-mail e senha</mat-card-subtitle>
            <mat-icon class="login-icon">lock</mat-icon>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="username" type="email"> <!-- formControlName é uma diretiva que se utiliza dentro de um formulário reativo para vincular um controle HTML -->

                <mat-error>
                    <ng-container *ngIf="loginForm.get('username')?.hasError('required')"> <!-- O *ngIf é uma diretiva estrutural que altera o layout do DOM -->
                        O campo e-mail é obrigatório.
                    </ng-container>
                    <ng-container *ngIf="loginForm.get('username')?.hasError('email')">
                        O campo e-mail deve ser um endereço de e-mail válido.
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput [type]="showPassword() ? 'password' : 'text'" autocomplete="off" formControlName="password" type="password">
                <!-- Funcionalidade para visualizar ou não visualizar senha -->
                <button 
                    class="password-toggle"
                    mat-icon-button 
                    matSuffix 
                    (click)="togglePasswordVisibility($event)" 
                    [attr.aria-label]="showPassword() ? 'Ocultar senha' : 'Mostrar senha'"
                    [attr.aria-pressed]="showPassword()">                                       <!-- matSuffix posiciona o botão dentro do campo de entrada. | aria-label e aria-pressed garantem acessibilidade, permitindo que leitores de tela interpretem a função do botão. -->
                    <mat-icon>{{ showPassword() ? 'visibility' : 'visibility_off' }}</mat-icon> <!-- O mat-icon muda dinamicamente entre visibility (olhinho aberto) e visibility_off (olhinho fechado). -->
                </button>

                <mat-error>
                    <ng-container *ngIf="loginForm.get('password')?.hasError('required')">
                        O campo senha é obrigatório.
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Acessar</button>
        </mat-card-actions>
    </mat-card>
</div>
