<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Pagamentos</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let pagamento">{{ pagamento.id }}</td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
                    <td mat-cell *matCellDef="let pagamento">{{ pagamento.data | date: "dd/MM/yyyy" }}</td>
                </ng-container>

                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                    <td mat-cell *matCellDef="let pagamento">{{ pagamento.valor | currency: "BRL" }}</td>
                </ng-container>

                <ng-container matColumnDef="tipoPagamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Pagamento</th>
                    <td mat-cell *matCellDef="let pagamento">{{ pagamento.tipoPagamento }}</td>
                </ng-container>

                <ng-container matColumnDef="pagamentoStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status de Pagamento</th>
                    <td mat-cell *matCellDef="let pagamento">{{ pagamento.pagamentoStatus }}</td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estudante</th>
                    <td mat-cell *matCellDef="let pagamento">{{ pagamento.estudante.nome }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 100]" showFirstLastButtons=""></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
